we will run out first code

In [13]:
print("Hello world!")

Hello world!

creat variable called name

In [3]:
name = "yousef"
print (name)
if name == "yousef" :
    print("hello world")

yousef
hello world

python variable

In [15]:
num = 10
name2 = "mosed"
print (name2)

mosed

In [16]:
num2 = 20

print(num2)

name3 = 'ali'
print(name3)
name3 = 'ahmed'
print(name3)

20
ali
ahmed

In [17]:
a,b,c = 1,2,55
print (a)
print (b)
print (c)

1
2
55

same value for two different variables

In [18]:
name1 = name2 = 'ali essa'
print(name1)
print(name2)

ali essa
ali essa